@{
    ViewBag.Title = "Home Page";
}

<style>
   /*BackGround Css for only Index Page for the whole project*/
    body {
        background-image: url('https://www.iuslondon.co.uk/wp-content/uploads/2022/02/trasvaginal-ultrasound-scan-London-normal-uterus.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top; /* Center horizontally, crop 20% from the top */
    }

    /* Text color */
    h1, h2, p {
        color: snow; /* #FFFAFA */
    }


    .center-vertically {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh; /* This makes sure the container spans the full viewport height */
    }
</style>

<main>
    <!-- Center-align the title -->
    <div class="center-vertically">
        <h1 id="title">UltraVue: Advanced Ultrasound Solutions</h1>
        <p>Revolutionizing Healthcare with Cutting-Edge Ultrasound Technology</p>
    </div>

    <!-- Bottom row: Booking, Location, and Comments -->
    <div class="row text-center">
        <div class="col-md-4">
            <h2>@Html.ActionLink("Booking", "Index", "Events", new { area = "" }, new { @class = "nav-link" })</h2>
            <p>Schedule an appointment with us.</p>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Location", "Index", "Locations", new { area = "" }, new { @class = "nav-link" })</h2>
            <p>Find our ultrasound facilities and clinics near you.</p>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Comments", "Index", "Comments", new { area = "" }, new { @class = "nav-link" })</h2>
            <p>Share your feedback and comments with us.</p>
        </div>
    </div>

</main>
